<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" paralell="testes" verbose ="3">
  
 <!-- Start The First Test -->
  <test name="My hubsspot Test Chrome" paralell= "methods" thread-count ="5">
      <parameter name="browser" value="chrome"/>
      <classes>
     
     	 <class name="com.MyTests.LoginTest"/>
      
    	
    </classes>
  </test>  End First Test <!-- Test --> 
   
  <test name="my hubspot testt firefox">    
    <parameter name="browser" value="ff"/>
    <classes>
       <class name="com.MyTests.LoginTest"/>
  
    </classes>
     
  
</suite> <!-- Suite -->